<div class="row">
    <div class="col-sm-12">
        <h1>Books</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="isbn" matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="isbn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Isbn </th>
                    <td mat-cell *matCellDef="let row"> {{row.isbn}} </td>
                </ng-container>
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
                    <td mat-cell *matCellDef="let row"> {{row.author}} </td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
                </ng-container>
                <ng-container matColumnDef="editor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Editor </th>
                    <td mat-cell *matCellDef="let row"> {{row.editor}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td class='actions-column' mat-cell *matCellDef="let row">
                        <button mat-icon-button tabindex="-1">
                            <mat-icon (click)="edit(row)">edit</mat-icon>
                        </button>
                        <button mat-icon-button tabindex="-1">
                            <mat-icon (click)="delete(row)">delete</mat-icon>
                        </button>
                        <button mat-icon-button tabindex="-1">
                            <mat-icon (click)="add_basket(row)">arrow_drop_down</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <button mat-raised-button (click)="create()">Add Book</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <h1>Basket of Books to rent</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="basketSource" matSort matSortActive="isbn" matSortDirection="asc" matSortDisableClear>
                <ng-container matColumnDef="isbn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Isbn </th>
                    <td mat-cell *matCellDef="let row"> {{row.isbn}} </td>
                </ng-container>
                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
                    <td mat-cell *matCellDef="let row"> {{row.author}} </td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell *matCellDef="let row"> {{row.title}} </td>
                </ng-container>
                <ng-container matColumnDef="editor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Editor </th>
                    <td mat-cell *matCellDef="let row"> {{row.editor}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td class='actions-column' mat-cell *matCellDef="let row">
                        <button mat-icon-button tabindex="-1">
                            <mat-icon (click)="edit(row)">edit</mat-icon>
                        </button>
                        <button mat-icon-button tabindex="-1">
                            <mat-icon (click)="delete(row)">delete</mat-icon>
                        </button>
                        <button mat-icon-button tabindex="-1">
                            <mat-icon (click)="delete_basket(row)">arrow_drop_up</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>