<div class="row">
    <div class="col-sm-12">
        <h1>Categories</h1>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-12">
        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc"
                matSortDisableClear>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button tabindex="-1">
                            <mat-icon (click)="edit(row)">edit</mat-icon>
                        </button>
                        <button mat-icon-button tabindex="-1">
                            <mat-icon (click)="delete(row)">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>

    <form id="frm" class="form" [formGroup]="frm" novalidate>
        <div class="col-12">
            <ng-container>
                <mat-form-field class="input">
                    <input class="input" matInput placeholder="Name" [formControl]="ctlName" required>
                    <mat-error class="field-error" *ngIf="ctlName.hasError('required')">Required</mat-error>
                    <mat-error class="field-error" *ngIf="ctlName.hasError('NameUsed')">Name already in use</mat-error>
                    <mat-error class="field-error" *ngIf="ctlName.hasError('forbiddenValue')">Forbidden value '123'</mat-error>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" form="frm" class="btn btn-default mr-2" [disabled]="frm.pristine || frm.invalid || frm.pending"
                    (click)="update()">{{frm.value._id ? 'Update' : 'Add'}}</button>
            </ng-container>
        </div>
    </form>