<div>
    <div class="welcome">
        <h1>Welcome {{authService.currentUser}}!</h1>
        <div class="col-sm-12">
                <img class="img-responsive" [src]="picturePath" width="120px">
                <br><br>
        </div>
        <div class="col-sm-12">
                <input text-align="right" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.gif">
        </div>
    <div class="row">
            
    </div>
</div>
<ng-container *ngIf="!authService.isAdmin">
<div class="row mt-3">
    <div>
        <h4>These are the books your currently rented books. Dont't forget to return them in time ! ;)</h4>
        <table mat-table [dataSource]="dataSource" matSort matSortActive="orderDate" matSortDirection="asc" matSortDisableClear>
            <ng-container  matColumnDef="orderDate">
                <th class="date" mat-header-cell *matHeaderCellDef mat-sort-header> Rental Date </th>
                <td class="date" mat-cell *matCellDef="let row"> {{row.orderDate}} </td>
            </ng-container>
            <ng-container matColumnDef="book.title">
                <th class="title" mat-header-cell *matHeaderCellDef mat-sort-header> Books </th>
                <td class="title" mat-cell *matCellDef="let row"> {{row.book.title}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>
</ng-container>