table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  /* width: 25%; */
}

th.mat-column-actions {
  width: 110px;
}


  .actions-column {
    width: 145px;
  }

  .box {
    width: 135px;
  }

  .filter {
    width: 150px;
  }