<div class="row">
    <div class="col-sm-12">
        <h1>Welcome {{authService.currentUser}}!</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <img class="img-responsive" [src]="picturePath" width="200px">
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-12">
        <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.gif">
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12">
        <h4>There are {{memberCount}} members in the system.</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <app-relationships></app-relationships>
    </div>
</div>