.form .form {
    margin-top: 15px;
}

* {
    box-sizing: border-box;
}

.phone-container {
    margin-top: 15px;
    display: inline-grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
}

.add {
    height: 40px;
}

.delete {
    display: grid;
    justify-items: center;
}
