.form .form {
    margin-top: 15px;
}

* {
    box-sizing: border-box;
}

.phone-container {
    margin-top: 15px;
    display: inline-grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
}

.add {
    height: 40px;
}

.delete {
    display: grid;
    justify-items: center;
}


.picture-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    margin: 10px;
}

.block {
    display: inline-block;
}

mat-selection-list {
    border: solid;
    background-color: beige;
}

.btn {
    background-color: lightblue;
}

h6{
    text-align: center;
}

mat-list-option {
    width: 200px;
    height: 150px;;

}