.form .form {
    margin-top: 15px;
}

* {
    box-sizing: border-box;
}

.add {
    height: 40px;
}

.delete {
    display: grid;
    justify-items: center;
}

.picture-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
    grid-row-gap: 10px;
    margin: 10px;
}
