<form id="frm" class="form" [formGroup]="frm" novalidate>
    <ng-container *ngIf="authService.isAdmin">
    <h1 class="header">{{(frm.value._id ? 'Edit existing' : 'Add a new') + ' book'}}</h1>
    </ng-container>
    <ng-container *ngIf="!authService.isAdmin">
    <h1 class="header">Book's informations</h1>
    </ng-container>
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="General Data">
            <div class="form">
                <mat-form-field>
                    <input matInput placeholder="Isbn" [formControl]="ctlIsbn" required [readonly]="frm.value._id">
                    <mat-error class="field-error" *ngIf="ctlIsbn.hasError('required')">Required</mat-error>
                    <mat-error class="field-error" *ngIf="ctlIsbn.hasError('isbnUsed')">Isbn already in use</mat-error>
                    <mat-error class="field-error" *ngIf="ctlIsbn.hasError('forbiddenValue')">Forbidden value 'abc'</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Author" [formControl]="ctlAuthor" required [readonly]="!authService.isAdmin">
                    <mat-error class="field-error" *ngIf="ctlAuthor.hasError('required')">Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Title" [formControl]="ctlTitle" [readonly]="!authService.isAdmin">
                    <mat-error class="field-error" *ngIf="ctlTitle.hasError('required')">Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Editor" [formControl]="ctlEditor" [readonly]="!authService.isAdmin">
                    <mat-error class="field-error" *ngIf="ctlEditor.hasError('required')">Required</mat-error>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Cover">
            <div class="picture-container">
                <img class="img-responsive" [src]="picturePath" width="200px">
                <ng-container *ngIf="authService.isAdmin">
                <input type="file" [readonly]="!authService.isAdmin" (change)="fileChange($event)" placeholder="Upload file" accept=".png,.jpg,.gif">
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab label="Categories" class="catblock">
            <div class="block">
              <div><h6>Available</h6> </div>
              <mat-selection-list #allCategories (selectionChange)="onSelectionleft($event, allCategories.selectedOptions.selected)">
                  <mat-list-option *ngFor="let Category of categoriesSource" [value] = "Category" > {{ Category.name }}
                  </mat-list-option>
              </mat-selection-list>     
            </div>
            <ng-container *ngIf="authService.isAdmin">
            <div class="block">
                    <button class="btn" [disabled]="isCatSelected(allCategories.selectedOptions.selected.length)" mat-stroked-button (click)="addToBook()"> >> </button>
                    <button class="btn" [disabled]="isCatSelected(bookCategories.selectedOptions.selected.length)" mat-stroked-button (click)="removeFromBook()"> << </button>
            </div>
            </ng-container>
            <ng-container *ngIf="!authService.isAdmin"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ng-container>
            <div class="block">
                    <div><h6>Associated to a book</h6> </div>
                    <mat-selection-list #bookCategories (selectionChange)="onSelectionright($event, bookCategories.selectedOptions.selected)">
                        <mat-list-option *ngFor="let Category of categoriesBook" [value] = "Category"> {{ Category.name }}
                        </mat-list-option>
                    </mat-selection-list>     
             </div>
        </mat-tab>
    </mat-tab-group>
    <ng-container *ngIf="authService.isAdmin">
    <div class="footer">
        <button type="submit" form="frm" class="btn btn-default mr-2" [disabled]="frm.pristine || frm.invalid || frm.pending " (click)="update()">{{frm.value._id ? 'Update' : 'Add'}}</button>
        <button type="reset" class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
    </ng-container>
</form>